.header-container {
    width: 100%;
    height: 100px;
    background-color: rgb(214, 232, 237);
    color: rgb(67, 67, 67);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.title {
    letter-spacing: 5px;
    font-weight: 400;
}

.sub-title {
    letter-spacing: 2px;
    font-weight: 200;
}